.container{
    position: inherit;
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(168, 180, 190);
    padding: 20px;
    margin: 15px;
    z-index: 1;
    
}

body{
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

.container button{
    z-index: 1;
    border-color:rgb(168, 180, 190);
    border-width: 2px;
    color: rgb(168, 180, 190);
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
}

.container button:hover{
    color: rgb(168, 180, 190);
    box-shadow: 0px 0px 10px rgb(168, 180, 190), 0px 0px 10px rgb(168, 180, 190);
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
}

h2{
    z-index: 1;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: chocolate;

}
.navbar{
    z-index: 1;
    background-color:rgb(236, 223, 215);
    /* opacity: 0.9; */
}
.hide{
    display: none;
}
#youtubeContainer{
    width: 560px;
    background-color: rgb(236, 223, 215);
    z-index: 1;
    margin-top: 250px;
}
header{
    /* position: fixed; */
    text-align: center;
    padding: 10px;
    background-color: rgb(236, 223, 215);
}
.logo{
    width: 120px;
}
.thumb{
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    
}
article {
    display: flex !important;   
    align-items: center;
    padding: 8px 12px;
    border: 2px solid rgb(236, 223, 215);
}

article:hover{
    border: 2px solid rgb(221, 196, 158);
    border-radius: 8px;
}

p{
    color: grey;
    font-size: 12px;
}

#videoBtn, #jokesBtn, #gifsBtn {
    color: peru;
}
.navbar-brand{
    color: peru !important;
    font-family: 'Dancing Script', cursive;
    font-size: 25px !important;
}
h4{
    font-size: 16px !important;
}

#content{
    z-index: 1;
}

.jumbotron{
    background-color: rgb(236, 223, 215) !important;
    border-radius: 0 !important;
}

.nav-link{
    color: peru;
}
.nav-link:hover{
    color: peru;
}
.btn-outline-secondary{
    color: peru !important;
    border: solid 1px peru !important;
}
.btn-outline-secondary:hover{
    background-color: transparent !important;
    box-shadow: none !important;
}